.about-page-content{
    width: 100%;
    padding-bottom: 20px;
}

.about-content-header{
    width: 100%;
    height: 80px;
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 1px;
    padding-left: 10px;
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.15);
    line-height: 80px;
}

.add-image-icon{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url('../img/icons/image-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.5s;
}

.add-image-icon:hover{
    opacity: 1;
    animation: image-icon-wiggle 0.5s;
}


.about-header-text{
    display: inline-block;
}

.about-paragraph-content{
    width: 1200px;
    display: inline-block;
    vertical-align: top;
}

.about-paragraph{
    width: 100%;
    font-size: 16px;
    padding: 20px;
    padding-bottom: 0px;
    font-family: "Josefin Sans";
    text-decoration: none;
    color: black;
}

.wraped-image{
    width: 280px;
    height: 400px;
    background-color: red;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    vertical-align: top;
    
}

.image-settings-container{
    width: 100%;
    max-height: 0px;
    background-color: white;
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.15);
    transition: max-height 0.4s;
    line-height: 50px;
    overflow: hidden;
}

.add-new-image-containter{
    width: auto;
    height: 50px;
    position: relative;
    line-height: 50px;
}

.add-new-image-btn{
    width: 150px;
    height: 30px;
    background-color: #424242;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 40px;
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}

.add-new-image-btn-text{
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 20px;
    color: white;
    position: absolute;
    white-space: nowrap;
}

.add-new-image-btn:hover{
    transform: translateY(-2px);
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.25);
}


.image-settings-alt-header{
    height: 30px;
    font-size: 18px;
    font-family: "Josefin Sans";
    margin-left: 10px;
    display: inline-block;
}

#imgType{
    width: auto;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    font-family: "Josefin Sans";
}

@keyframes image-icon-wiggle{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-25deg);
    }
    50%{
        transform: rotate(25deg);
    }
    75%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(0deg);
    }
}