.all-orders-container{
    width: 100%;
}

.all-orders-order{
    width: 100%;
    height: auto;
    background-color: white;
    position: relative;
    margin-bottom: 20px;
    font-size: 0px;
    cursor: default;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.25);
    user-select: none;
    
}

.all-orders-order-id{
    width: 100%;
    height: 30px;
    display: inline-block;
    color: white;
    font-size: 15px;

    background-color: #424242;
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 0.5px;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
}

.all-orders-order-product{
    height: auto;
    width: 100%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: rgba(0, 0, 0, 0.25) solid 0.5px;
}

.all-orders-order-product-row{
    height: 90px;
    width: 100%;
    user-select: none;
}


.all-orders-order-product-row-img-container{
    width: 20%;
    height: 100%;
    border-right: rgba(0, 0, 0, 0.25) solid 0.5px;
    position: relative;
    display: inline-block;
}

.all-orders-order-product-row-img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: rgba(0, 0, 0, 0.25) solid 0.5px;
}

.all-orders-order-product-row-info{
    width: 60%;
    height: 90px;
    display: inline-block;
    position: absolute;
}

.all-orders-order-product-row-info-alt{
    width: 100%;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    padding-left: 10px;
    font-family: 'Roboto Slab', serif;
}

.all-orders-order-product-row-buttons{
    height: 90px;
    width: 20%;

    border-left: rgba(0, 0, 0, 0.25) solid 0.5px;
    display: inline-block;
    position: absolute;
    left: 80%;
}

.all-orders-order-product-row-buttons-container{
    width: 100%;
    height: 90px;
    text-align: center;
}

.all-orders-order-product-row-button{
    display: inline-block;
    width: 90%;
    height: 30px;
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 1px;
    font-size: 12px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 40px;
    background-color: #424242;
    color: white;
}

.button-text-align{
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.all-orders-customer-information-block{
    width: 60%;
    height: 190px;
    background-color: white;
    display: inline-block;
    border-top: rgba(0, 0, 0, 0.25) solid 0.5px;
    padding-bottom: 5px;
}

.all-orders-customer-information-block-alt{
    width: 100%;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    padding-left: 10px;
    font-family: 'Roboto Slab', serif;
    border-bottom: rgba(0, 0, 0, 0.25) solid 0.5px;
    border-right: rgba(0, 0, 0, 0.25) solid 0.5px;
}

.all-orders-setup-buttons-container{
    width: 40%;
    height: 190px;
    background-color: white;
    display: inline-block;
    border-top: rgba(0, 0, 0, 0.25) solid 0.5px;
    position: absolute;
    text-align: center;
}

.all-orders-setup-buttons-button{
    display: inline-block;
    width: 90%;
    height: 30px;
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 1px;
    font-size: 12px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
    margin-top: 6px;
    position: relative;
    cursor: pointer;
    border-radius: 40px;
    background-color: #424242;
    color: white;
    white-space: nowrap;
}

.important-button{
    background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
}

.all-orders-order-arrow{
    background-color: white;
    right: 5%;
    position: absolute;
    top: 11px;
}

.unavailable{
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
}

.refund-icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('../img/icons/refund.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-top: 5px;
}

.complete-refund-icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('../img/icons/complete-refund.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-top: 5px;
}

.order-title-text{
    vertical-align: middle;
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
}

.archived-icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('../img/icons/archived.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    vertical-align: middle;
    margin-top: 5px;
}

.shipping-icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('../img/icons/shipping.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-top: 5px;
}

.bg-red{
    background-color: #d63737;
}
.text-white{
    color: white;
}

.refunds-header{
    width: 100%;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    font-size: 20px;
    border-top: rgba(0, 0, 0, 0.25) solid 0.5px;
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 0.5px;
}

.order-complete-icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('../img/icons/check-icon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    vertical-align: middle;
    margin-top: 5px;
}