*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-content{
    width: 800px;
    height: 800px;
    overflow: auto;
    box-shadow: 1px 1px 4px 1px rgba(55, 37, 84, 0.3);
    background-color: white;
    position: relative;
    font-size: 0px;
}

.background{
    width: 100vw;
    height: 100%;
    background-color: white;
    overflow: auto;
}

.side-bar{
    width: 200px;
    height: 100%;
    background-color: #212121;
    
    display: inline-block;
    
    font-size: 16px;
}

.top-part{
    width: 100%;
    height: 100px;
    cursor: default;
    user-select: none;
    padding-top: 30px;
    background-color: #212121;
    color: rgba(255, 255, 255, 0.87);
}

.top-part-name{
    font-size: 20px;
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 0.5px;
    margin-left: 10px;
}

.top-part-spec{
    font-size: 20px;
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 0.5px;
    margin-left: 10px;
}

.menu-field{
    width: 100%;
    height: 50px;
 

    position: relative;
    border-bottom:  rgba(255, 255, 255, 0.2) solid 0.3px;
    border-top:rgba(255, 255, 255, 0.2) solid 0.3px;
    background-color: #212121;
    user-select: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.87);
}

.title{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 0.5px;
}

.display-arrow{
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    width: 8px;
    height: 8px;
    background-color: white;
    display: inline-block;
    margin-left: 10px;

    transform: rotate(0);

    transition: transform 0.2s;
}

.alternatives{
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #303030;
    transition: height 0.2s;
    color: rgba(255, 255, 255, 0.87);
}

.alt{
    width: 100%;
    height: 50px;
    border-bottom:  rgba(0, 0, 0, 0.4) solid 0.3px;
    border-top:  rgba(0, 0, 0, 0.4) solid 0.3px;
    position: relative;
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 0.5px;
    cursor: pointer; 
    user-select: none;
}


.alt-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    transition: color 0.2s;
}

.alt:hover{
    color: #08AEEA;
}

.center-components{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}

.center-components-background{
    background-color: #06bcfb;
    background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
    position: absolute;
    width: 600px;
    height: 100%;
    left: 200px;
    overflow: hidden;
    top: 0px;
}

.dashboardExtensionHeader{
    width: 100%;
    height: auto;

    font-size: 25px;
    margin-bottom: 15px;
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 0.5px;
}

.modal-background{
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0);

    opacity: 1;
    position: absolute;
    top: 0px;
    pointer-events: none;
    transition: background-color 0.2s;
}

.modal-content{
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 45%;
    left: 50%;
    cursor: default;
    opacity: 0;
    transition: opacity 0.2s;
}

.modal-test-img{
    width: 400px;
    height: 600px;
    background-color: white;
    border: #9eabe4 solid 2px;
}

.green-text{
    color: rgb(17, 121, 48);
}

.red-text{
    color: #8B1E3F;
}