.thankyou-container{
    width: 100%;
    min-height: 400px;
    background-color: white;
    position: relative;
    margin-top: 10px;
}

.thankyou-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 340px;
}

.thankyou-title{
    font-size: 25px;
    margin-bottom: 20px;
    font-family: "Josefin Sans";
}

.thankyou-subtitle{
    font-size: 20px;
    margin-bottom: 25px;
    font-family: 'Playfair Display', serif;
}